body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: url('img/1.png') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 30px;
    height: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero .button {
    background: #4985FF;
    color: white;
    border-radius: 30px;
}

section {
    padding: 50px 20px;
    text-align: center;
}

.services .service-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.service-item, .project-items img {
    margin: 10px;
    flex: 1;
    max-width: 300px;
}

.standards {
    background-color: #ededed;
    text-align: left;
    padding: 50px 20px;
}

.standards .standards-content {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.standards .text {
    flex: 1;
    max-width: 400px;
}

.button {
    background: #4985FF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
    margin-top: 20px;
}

.link {
    color: blue;
    text-decoration: none;
}

footer {
    background: #9c9999;
    padding: 20px;
    text-align: center;

}


